.HomepageTitle {
    font : normal 600 40px/1 'Josefin Sans', sans-serif;
    color: #fff;
}
.Section {
    height: 100vh;
    width: 100%;
    position: relative;
}
.Section video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.SectionCaptions {
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    text-align: center;
}
.ScrollLink {
    position: absolute;
    bottom: 90px;
    left: 50%;
    z-index: 2;
    display: inline-block;
    transform: translate(0, -50%);
    color: #fff;
    font : normal 400 20px/1 'Josefin Sans', sans-serif;
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s;
}
.ScrollLink:hover {
    opacity: .5;
}
.ScrollLink span {
    position: absolute;
    top: -70px;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 3px solid #fff;
    border-bottom: 3px solid #fff;
    transform: rotate(-45deg);
    animation: sdb07 2s infinite;
    opacity: 0;
    box-sizing: border-box;
}
.ScrollLink span:nth-of-type(1) {
    animation-delay: 0s;
}
.ScrollLink span:nth-of-type(2) {
    top: -54px;
    animation-delay: .15s;
}
.ScrollLink span:nth-of-type(3) {
    top: -38px;
    animation-delay: .3s;
}
.SectionThree {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 20px;
}
.SelectSize {
  width: 360px !important;
}
.OpinionFormContainer {
  margin: 30px 0;
}
.OpinionForm {
  display: flex;
  flex-direction: column;
}
.CustomInput {
  width: 100%;
  height: 32px;
  padding: 4px 11px;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  line-height: 1.5;
  background-color: #fff;
  background-image: none;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  transition: all 0.3s;
  box-sizing: border-box;
}
.CustomInput::placeholder,
.CustomTextarea::placeholder {
  color: lightgray;
}
.CustomInput:not(:first-child) {
  margin-top: 24px;
}
.CustomInput:hover,
.CustomTextarea:hover {
  border-color: #40a9ff;
}
.CustomInput:focus,
.CustomTextarea:focus {
  border-color: #40a9ff;
  border-right-width: 1px !important;
  outline: 0;
  box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
}
.CustomTextarea {
  box-sizing: border-box;
  width: 100%;
  padding: 4px 11px;
  color: rgba(0,0,0,.65);
  font-size: 14px;
  line-height: 1.5;
  background-color: #fff;
  background-image: none;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  transition: all .3s;
  margin: 24px 0;
  resize: none;
}
.CustomSubmitButton {
  color: #fff;
  background-color: #1890ff;
  border-color: #1890ff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
  line-height: 1.499;
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
  border: 1px solid transparent;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  user-select: none;
  touch-action: manipulation;
  height: 32px;
  padding: 0 15px;
  font-size: 14px;
  border-radius: 4px;
}
.CustomSubmitButton:focus {
  border-color: #1890ff;
}
@-webkit-keyframes sdb07 {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes sdb07 {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }